/* --- RESET --- */

html, body, header, nav, h1, a, ul, li, h3,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  padding: 0;
  outline: 0;
  border: 0;
  margin: 0;
  z-index: 0;

  font: inherit;
  color: inherit;
  text-decoration: inherit;
  text-align: inherit;
  vertical-align: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

/* --- CLEARFIX --- */

.group:after {
  content: "";
  display: block;
  clear: both;
}

/* --- Main code --- */

body {
  font-family: sans-serif;
  color: black;
}

h1 {
  font-size: 36px;
  margin: 10px 0;
  text-align: center;
}

.answer-box {
  position: relative;
  margin: 10px auto;
  width: 500px;
  border: 1px solid red;
}

.answer-box > li {
  width: 40%;
  height: 40px;
  /*position: absolute;*/
  text-align: center;
  border: 1px solid blue;
  margin: 5px;
  padding: 10px;
  float: left;
}

.answer-box > li:hover {
  cursor: pointer;
}
