/* --- RESET --- */

html, body, header, nav, h1, a, ul, li, h3,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  padding: 0;
  outline: 0;
  border: 0;
  margin: 0;
  z-index: 0;

  font: inherit;
  color: inherit;
  text-decoration: inherit;
  text-align: inherit;
  vertical-align: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

/* --- CLEARFIX --- */

.group:after {
  content: "";
  display: block;
  clear: both;
}

/* --- Main code --- */

body {
  font-family: sans-serif;
  color: black;
}

h1 {
  font-size: 36px;
  margin: 10px 0;
  text-align: center;
}

#search {
  width: 400px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

#input {
  width: 200px;
  margin: 0 auto;
  float: left;
}

.player {
  border-radius: 5px;
  padding: 5px 10px;
  border: 1px solid black;
}

.searchButton {
  border: 1px black solid;
  border-radius: 5px;
  position: inherit;
  float: right;
  font-size: 10px;
  padding: 5px 10px;
}

.searchButton:hover {
  cursor: pointer;
  background: #000000;
  color: white;
  border: 1px solid grey;
}

.playerData {
  padding: 20px 10px;
  margin: 0 auto;
  width: 500px;
  border: 1px solid black;
  border-radius: 5px;
}

p:first-child {
  margin: 0;
  font-size: 40px;
}

.autocomplete {
  position: absolute;
}

.autocomplete > li {
  margin-top: -1px;
  border: 1px solid black;
  padding: 3px 5px;
  background: white;
}

.autocomplete > li:hover {
  color: white;
  background: black;
  cursor: pointer;
}

.autocomplete > li:first-child {
  font-weight: bold;
}

.autocomplete > li:first-child:hover {
  color: black;
  background: white;
  cursor: inherit;
}
